html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
nav,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  vertical-align: baseline; }
ol, ul {
  list-style: none; }
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle; }
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }
a img {
  border: none; }
/***** Public style *****/
* {
  box-sizing: border-box;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0; }
body {
  font-family: "Helvetica Neue", "Helvetica", "Microsoft YaHei", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #505c61; }
iframe {
  margin-top: 10px; }
small {
  font-size: 80%; }
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }
sup {
  top: -.5em;
  padding-left: .3rem; }
sub {
  bottom: -.25rem; }
a {
  color: #28c; 
  text-decoration: none; }
a:hover {
  color: #155799; 
  outline: 0;
  text-decoration: none;
  -webkit-transition: color .25s, background .5s, opacity .1s;
  transition: color .25s, background .5s, opacity .1s; }
input, button {
  margin: 0;
  padding: 0; }
input::-moz-focus-inner, button::-moz-focus-inner {
  border: 0;
  padding: 0; }
h1 {
  font-size: 1.5rem; }
/******class style*******/
/*主页*/
.home-page {
  color: #fff;
  text-align: center;
  background-color: #216e82;
  background-image: linear-gradient(120deg, #155799, #15935e);
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 4rem 0 }
.home-img {
  height:60%;
  opacity: 0.7; }
/*页头*/
.page-header {
  color: #fff;
  text-align: center;
  background-color: #216e82;
  background-image: linear-gradient(120deg, #155799, #15935e); }
@media screen and (min-width: 64em) {
  .page-header {
    padding: 3rem 2rem 1rem; } }
@media screen and (min-width: 44em) and (max-width: 64em) {
  .page-header {
    padding: 2rem 1rem .8rem; } }
@media screen and (max-width: 44em) {
  .page-header {
    padding: 1rem .5rem .5rem; } }
.project-name {
  font-weight:bold; }
@media screen and (min-width: 64em) {
  .project-name {
    font-size: 3.25rem; } }
@media screen and (min-width: 44em) and (max-width: 64em) {
  .project-name {
    font-size: 2.25rem; } }
@media screen and (max-width: 44em) {
  .project-name {
    font-size: 1.75rem; } }
.project-tagline {
  margin-bottom: 2rem;
  font-weight: normal;
  opacity: 0.7; }
@media screen and (min-width: 64em) {
  .project-tagline {
    font-size: 1.25rem; } }
@media screen and (min-width: 44em) and (max-width: 64em) {
  .project-tagline {
    font-size: 1.15rem; } }
@media screen and (max-width: 44em) {
  .project-tagline {
    font-size: 1rem; } }
.navigation a {
  color: #fff;
  display: inline-block;
  z-index: 10;
  margin: 1rem 0 0; }
.navigation a:hover {
  background-color: #155799; }
@media screen and (min-width: 64em) {
  .navigation a {
    font-size: 1.25rem;
    padding: .5rem 1.2rem; } }
@media screen and (min-width: 44em) and (max-width: 64em) {
  .navigation a {
    font-size: 1.15rem;
    padding: .3rem .8rem; } }
@media screen and (max-width: 44em) {
  .navigation a {
    font-size: 1rem;
    padding: .2rem .6rem; } }
/*main和边栏*/
.page-main {
  padding: 2% 3% 5em; }
.page-main h1, h2 {
  color: #28e;
  padding: .4rem .2rem; }
.main-content {
  vertical-align: top;
  float: left; }
.main-sidebar {
  border-left:1px solid #999;
  vertical-align: top;
  float: right; }
@media screen and (min-width: 64em) {
  .main-content {
    width: 75%; }
  .main-sidebar {
    width: 25%; }
  .page-main > * > * {
    margin: .5rem 8%; } }
@media screen and (min-width: 44em) and (max-width: 64em) {
  .main-content {
    width: 66%; }
  .main-sidebar {
    width: 34%; }
  .page-main > * > * {
    margin: .5rem 5%; } }
@media screen and (max-width: 44em) {
  .main-content {
    width: 100%; }
  .main-sidebar {
    border:none;
    width: 100%; }
  .page-main > * > * {
    margin: .5rem 0; } }
.sidebar-sort h1 {
  border-bottom: 4px solid #aaa; }
.sidebar-sort a {
  color: #666;
  font-size: 1.2rem;
  padding: .3rem 1rem; 
  border-bottom:1px solid #aaa;
  display: block; }
.sidebar-sort a:hover {
  color: #28e; }
.click-statistics {
  background: #28a;
  padding: 0 1rem; }
.click-statistics h2 {
  color: #fff; }
/*article-index*/
.article-search {
  height: 8rem;
  margin: .5rem 5% 2rem;
  padding: .1rem; }
.search-img {
  height: 100%;
  width: 10em;
  overflow: hidden;
  float: left; }
.search-img img {
  height: auto;
  width: 100%; }
.search-img a {
  opacity: 0.8; }
.search-img a:hover {
  opacity: 1; }
.search-text {
  margin: 0 1rem;
  line-height: 2.5rem;
  float: left; }
.search-text a h2:hover {
  color: #155799; }
.search-introduce {
  font-size: 1.05rem;
  color: #777; }
/*article*/
.article-title {
  border-bottom: 1px solid #bbb; }
.article-title h2 {
  padding: .4rem 1.5rem;
  font-size: 1.8rem;
  border-left: 5px solid #28c; }
.article-title p {
  float: right;
  padding: .4rem 1rem; }
.article-directory {
  padding: 1rem 1rem 1.5rem;
  float: right;
  background: #f1f1f1;
  border:1px solid #ccc;
  border-radius: 4px; }
.article-directory ul{
  padding-left: 1rem; }
.article-content {
  padding: 3rem 1rem;
  border-bottom: 1px solid #bbb; }
.article-content h3 {
  font-size: 1.8rem;
  padding: .5rem 0;
  margin: 1rem 0;
  border-bottom: 2px solid #ddd; }
.article-content h4 {
  color: #555;
  font-size: 1.2rem;
  padding: 0 .5rem;
  margin: .5rem 0;
  border-left: 3px solid #28c; }
.article-import {
  color: #777;
  padding: .5rem;
  margin: .5rem;
  border-bottom: 2px solid #ddd; }
.article-content code {
  color: #ccc;
  font-size: .9rem;
  font-family: Consolas;
  background: #444;
  display: block;
  padding: .5rem 1rem;
  margin: .5rem 0;
  border-radius: 4px;
  overflow: auto;
  }
/*页脚*/
.article-footer {
  position: absolute;
  width: 100%;
  color: #fff;
  height: 15rem;
  background: #216e82;
  background-image: linear-gradient(120deg, #155799, #15935e); }
.footer-imgLine {
  margin: 0 4rem;
  position: relative;
  left: 3.5rem;
  height: 5rem;
  width: 2px;
  background-color: #fff; }
.footer-img {
  margin: 0 4rem;
  position: absolute;
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  overflow: hidden; }
.footer-img img {
  position: absolute;
  bottom: -0.3rem; }
.footer-text {
  font-size: 1rem;
  position: absolute;
  top: 6rem;
  left: 14rem; }
/*功能*/
.div-img100 img {
  width: 100%; }
.row:after {
    content: "";
    clear: both;
    display: block; }
.a-img {
  opacity: 0.95; }
.a-img:hover {
  opacity: 1; }