html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
a,
code,
img,
sub,
sup,
dl,
dt,
dd,
ol,
ul,
li,
form,
label {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
ol,
ul {
  list-style: none;
}
a img {
  border: none;
}
/******************* Public style ********************/
* {
  box-sizing: border-box;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}
body {
  font-family: "Helvetica Neue", "Helvetica", "Microsoft YaHei", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
  padding-left: 0.3em;
}
sub {
  bottom: -0.25em;
}
a {
  text-decoration: none; 
}
/*******************public table style ********************/
table,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
/******************表格边框1px 样式********************/
.table_border_1 th,
.table_border_1 td {
  border-right: 0;
  border-bottom: 0;
  border-left: 0;
}
.table_border_1 th+th,
.table_border_1 td+td {
  border-left: 1px solid #aaa;
}
.table_border_1 th {
  border-top: 0;
}
/******************** 功能 样式 **********************/
.animated {
  -webkit-transition: color .25s, background .25s, opacity .1s, right .25s, width .25s, transform 10s;
  transition: color .25s, background .25s, opacity .1s, right .25s, width .25s, transform 10s; }
.animated:hover {
  -webkit-transition: color .25s, background .25s, opacity .1s, right .25s, width .25s, transform 1s;
  transition: color .25s, background .25s, opacity .1s, right .25s, width .25s, transform 1s; }
.float_left {
  float: left;
}
.float_right {
  float: right;
}
.inline_block {
  display: inline-block;
}
.img_height_width_100 img{
  height: 100%;
  width: 100%;
  display: block;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.row:after {
    content: "";
    clear: both;
    display: block;
}
/******************** 调试用 **********************/
.bg_red {
	background-color: red;
}
.border_red {
	border: 1px solid red;
}
.color_red {
  color: #d00;
}
.color_gray {
  color: #aaa;
}
/*************************功能 样式(简写)**************************/
.bgr {background-color: red;}
.bdr {border: 1px solid red;}

.fl {float: left;}
.fr {float: right;}

.inblock {display: inline-block;}
.img100 img{height: 100%;width: 100%;}
/******************** 功能 样式 **********************/
/*.center {
  width: 1025px;
  margin: 0 auto;
}
@media screen and (max-width: 1025px) {
  .header,
  .main,
  .footer {width: 1025px;}
}*/
